
.form-container{
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    background-color: rgb(68, 68, 68);
    border: 2px solid rgb(119, 119, 119);
    border-radius: 10px;
    width: 95%;
    color: white;
  }

.auth-form{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 5px;    
  }

.auth-form > button {
    grid-column-end: 3;
}

.auth-form >input {
    border: 3px solid black;
    outline: none;
}

.auth-form >input:focus {
    border-color: gray;
}

