.thread-form {
    width: 95%;
    border: 2px solid lightgrey;
    border-radius: 10px;
    margin-bottom: 5px;
    background-color: rgb(68, 68, 68);
}

.thread-form > form {
    display: grid;
    grid-template-columns: 1fr;
    width: 95%;
}

.thread-form-input {
    border: 3px solid black;
    outline: none;
}

.thread-form-input:focus {
    border-color: gray;
}