.Reply{
    border: 2px solid lightgray;
    width: 95%;
    min-height: 120px;
    display: grid;
    grid-template-columns: 5fr 1fr;
}

.reply-box {
    border-left: 2px solid lightgrey;
    text-align: center;
    justify-self: end;
    width: 150px;
    word-wrap: break-word;
}

.reply-content{
    padding-left: 5px;
    overflow: auto;
    word-wrap: break-word;

}

/* styling related to markdown being allowed in replies */
blockquote {
    border: solid 3px white ;
    padding-left: 5px;
    width: inherit;
    
  }
  
  pre {
    border: 1px solid white;
    padding: 2px;
    background-color: rgb(0, 0, 0);
    word-wrap: break-word;
    overflow: auto;
    
    
  }
  
  pre > code {
    border: none;
    word-wrap: break-word;
    
  }
  
  code {
    border: 1px solid white;
    padding: 2px;
    background-color: rgb(0, 0, 0);
    
  }