.Reply{
    border: 2px solid lightgray;
    width: 95%;
    min-height: 120px;
    display: grid;
    grid-template-columns: 5fr 1fr;
}

.reply-box {
    border-left: 2px solid lightgrey;
    text-align: center;
    justify-self: end;
    width: 100%;
}

.reply-content{
    white-space: pre-wrap;
    padding: 0px 0px 0px 5px;
}