.TopicComponent{
    border: 2px solid rgb(119, 119, 119);
    width: 95%;
}

.TopicName{
    font-weight: bolder;
    color: white;
    padding-left: 10px;
}

.TopicName:hover{
    color: lightslategrey;
}

.TopicDescription{
    padding-left: 10px;
}