body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(10,10,10);
  color: lightgray;
}

a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
/* main content wrapper around everything besides nav-bar */
.content {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
}


/* position based styling for various components */
.top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.bottom {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.even { 
  background-color: rgb(30, 30, 30);
}

.odd {
  background-color: rgb(68, 68, 68);
}

.align-end {
  justify-self: end;
  text-align: end;
  padding-right: 10px;
}

/* username styling for banned users and admin users */

.banned-user {
  color: red;
  text-decoration: line-through;
}

.admin-user {
  color: green;
  font-weight: bold;
}

/* styling for bars at top of topic and thread pages */
.header-bar {
  background-color: rgb(68, 68, 68);
  width: 95%;
  border: solid lightgray 2px;
  padding: 5px 0px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  color: white;
  border-radius: 5px;
}

.header-name {
  font-weight: bolder;
  
  font-size: 25px;
}

/* Thread and reply form styling */
.thread-form {
  width: 95%;
  border: 2px solid rgb(119, 119, 119);
  border-radius: 10px;
  margin-bottom: 5px;
  background-color: rgb(68, 68, 68);
}

.thread-form > form {
  display: grid;
  grid-template-columns: 1fr;
  width: 95%;
}

.thread-form-input {
  border: 3px solid black;
  outline: none;
}

.thread-form-input:focus {
  border-color: gray;
}

/* button specific styling */
button {
  background-color: black;
  color: white;
}

button:hover {
  background-color: white;
  color: black;
}



